.bg-navy{
    background-color: #3c5279;
}

.burger{
    cursor: pointer;
}

.burger:hover{
    opacity: 0.7;
}

.scroll{
    scroll-behavior: auto;
    overflow: auto;
    height: 70vh;
}

.menu{
    cursor: pointer;
}

.menu:hover{
    border: 2px solid rgb(31, 126, 121);
}

.json:hover{
    opacity: 0.5;
}

p, label{
    font-size: 1.2rem;
}

img{
    -webkit-user-drag: none;
}